---
title: "Money Notebooks"
layout: splash
author_profile: false
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/grovemade-unsplash.jpg
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "The Money Notebooks -- About Personal Finance, Save and Invest!"
feature_row:
  - image_path: /assets/images/cm_translator/cm_translator.jpg
    alt: "cm translator"
    title: "CM Smart Instant Language Translator Device Review"
    excerpt: "A full review on CM Smart Instant Language Translator, what's the translation quality on CM Smart Instant Language Translator"
    url: "/reviews/cm-smart-instant-language-translator-device-review/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: /assets/images/max_hsa_contribution/front_page.png
    alt: "Why You Should Consider Contributing Maximum of Health Savings Account(HSA)"
    title: "Why You Should Consider Contributing Maximum of Health Savings Account(HSA)"
    excerpt: "A full review on Health Savings Account(HSA), how to gain most benefit and invest in Health Savings Account(HSA)."
    url: "/personal%20finance/why-contribute-HSA-limits/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: /assets/images/compound_interest/steve-johnson.jpg
    alt: "The Art of Compound Interest"
    title: "The Art of Compound Interest"
    excerpt: "This article discusses what is compound interest, why compound interest is important and how you can use compound interest in your life."
    url: "/personal%20finance/the-art-compound-interest/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
feature_row2:
  - image_path: /assets/images/mintmobile/front-page.png
    alt: "mintmobile"
    title: "Mint Mobile Full Review"
    excerpt: "$15/Month Mobile Plan? That's not right? Well, it's time to review!"
    url: "/reviews/mint-mobile-15-dollar-worth-it/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
---

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}
