---
title: "Money Notebooks"
layout: splash
author_profile: false
header:
  overlay_color: "#000"
  overlay_filter: "0.4"
  overlay_image: /assets/images/grovemade-unsplash.jpg
  caption: "Photo credit: [**grovemade**](https://unsplash.com)"
excerpt: "Money Notebooks -- Personal Finance Blog, Save and Invest Money"
intro: 
  - excerpt: '"It is not how much money you make, but how much money you keep, 
how hard it works for you, and how many generations you keep it for." - `Robert Kiyosaki`'
feature_row:
  - image_path: /assets/images/save_money_every_month/josh-appel-NeTPASr-bmQ-unsplash.jpg
    alt: "How to start saving money when you get paid? (Part 2)"
    title: "How to start saving money when you get paid? (Part 2)"
    excerpt: "This article describes the ways to help you save money when you get paid, and gives suggestions on how to plan saving and investing for retirement."
    url: "/personal%20finance/how-to-save-money-every-month-part2/"
    btn_class: "btn--primary"
    btn_label: "Read more"
  - image_path: /assets/images/save_money_every_month/nick-morrison-FHnnjk1Yj7Y-unsplash.jpg
    alt: "How to start saving money when you get paid? (Part 1)"
    title: "How to start saving money when you get paid? (Part 1)"
    excerpt: "This article describes the ways to help you save money when you get paid, and gives suggestions on how to cut your monthly bills and payment"
    url: "/personal%20finance/how-to-save-money-every-month-part1/"
    btn_class: "btn--primary"
    btn_label: "Read more"
  - image_path: /assets/images/max_hsa_contribution/front_page.png
    alt: "Why You Should Consider Contributing Maximum of Health Savings Account(HSA)"
    title: "Why You Should Consider Contributing Maximum of Health Savings Account(HSA)"
    excerpt: "A full review on Health Savings Account(HSA), how to gain most benefit and invest in Health Savings Account(HSA)."
    url: "/personal%20finance/why-contribute-HSA-limits/"
    btn_class: "btn--primary"
    btn_label: "Read more"
feature_row2:
  - image_path: /assets/images/compound_interest/steve-johnson.jpg
    alt: "The Art of Compound Interest"
    title: "The Art of Compound Interest"
    excerpt: "This article discusses what is compound interest, why compound interest is important and how you can use compound interest in your life."
    url: "/personal%20finance/the-art-compound-interest/"
    btn_class: "btn--primary"
    btn_label: "Read more"
feature_row3:
  - image_path: /assets/images/cm_translator/cm_translator.jpg
    alt: "cm translator"
    title: "CM Smart Instant Language Translator Device Review"
    excerpt: "A full review on CM Smart Instant Language Translator, what's the translation quality on CM Smart Instant Language Translator"
    url: "/reviews/cm-smart-instant-language-translator-device-review/"
    btn_class: "btn--primary"
    btn_label: "Read more"
feature_row4:
  - image_path: /assets/images/mintmobile/mint-mobile-starter-kit.jpg
    alt: "mintmobile"
    title: "Mint Mobile Full Review"
    excerpt: "$15/Month Mobile Plan? That's not right? Well, it's time to review!"
    url: "/reviews/mint-mobile-15-dollar-full-review/"
    btn_class: "btn--primary"
    btn_label: "Read more"
---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="left" %}

{% include feature_row id="feature_row4" type="left" %}